<header class="sheet-header">
    <div class="header-left">
        <div class="profile-img">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
        <div class="arthas">
            <h3>Artha</h3>
            <div class="artha-grid">
                <div class="artha">
                    <label>Fate</label>
                    <div class="circle-input">
                        <input type="number" name="system.artha.fate" value="{{system.artha.fate}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="artha">
                    <label>Persona</label>
                    <div class="circle-input">
                        <input type="number" name="system.artha.persona" value="{{system.artha.persona}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="artha">
                    <label>Deeds</label>
                    <div class="circle-input">
                        <input type="number" name="system.artha.deeds" value="{{system.artha.deeds}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-fields">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
        </h1>
        <div class="resources grid grid-2col">
            <div class="resource">
                <label>Stock</label>
                <input type="text" name="system.stock" value="{{system.stock}}" data-dtype="String"/>
            </div>
            <div class="resource">
                <label>Age</label>
                <input type="number" name="system.age" value="{{system.age}}" data-dtype="Number"/>
            </div>
        </div>
        <div class="resource">
            <label>Lifepaths</label>
            <textarea name="system.lifepaths" rows="3" data-dtype="String">{{system.lifepaths}}</textarea>
        </div>
        <div class="wounds-section">
            <h3>Wounds</h3>
            <div class="wounds-grid">
                <div class="wound-value">
                    <label>Obstacle Penalties:</label>
                    <span class="plus">+</span>
                    <span class="readonly-value">{{system.pgts.obstaclePenalties}}</span>
                    <span class="unit">Ob</span>
                </div>
                <div class="wound-value">
                    <label>Wounded Dice:</label>
                    <span class="minus">-</span>
                    <span class="readonly-value">{{system.pgts.woundedDice}}</span>
                    <span class="unit">D</span>
                </div>
            </div>
        </div>
    </div>
</header> 