<div class="relationships-list">
    <h3>Relationships</h3>
    <div class="text-area">
        <label>Relationships</label>
        <textarea name="system.relationships.text" rows="4">{{system.relationships.text}}</textarea>
    </div>
    <div class="text-area">
        <label>Circles</label>
        <textarea name="system.circles.text" rows="4">{{system.circles.text}}</textarea>
    </div>
    <div class="text-area">
        <label>Named Circles</label>
        <textarea name="system.namedCircles.text" rows="4">{{system.namedCircles.text}}</textarea>
    </div>
    <div class="text-area">
        <label>Enemy Circles</label>
        <textarea name="system.enemyCircles.text" rows="4">{{system.enemyCircles.text}}</textarea>
    </div>
</div>