<div class="stats-attributes-tab">
    <div class="stats">
        <h3>Stats</h3>
    <div class="stats-grid">
        {{> "modules/bw-character-sheet/templates/partials/stat-block.html" statName="will" displayName="Will" statShade=system.stats.will.shade statExponent=system.stats.will.exponent statDifficult=system.stats.will.difficult statChallenge=system.stats.will.challenge statFate=system.stats.will.fate statPersona=system.stats.will.persona statDeeds=system.stats.will.deeds}}
        {{> "modules/bw-character-sheet/templates/partials/stat-block.html" statName="power" displayName="Power" statShade=system.stats.power.shade statExponent=system.stats.power.exponent statDifficult=system.stats.power.difficult statChallenge=system.stats.power.challenge statFate=system.stats.power.fate statPersona=system.stats.power.persona statDeeds=system.stats.power.deeds}}
        {{> "modules/bw-character-sheet/templates/partials/stat-block.html" statName="agility" displayName="Agility" statShade=system.stats.agility.shade statExponent=system.stats.agility.exponent statDifficult=system.stats.agility.difficult statChallenge=system.stats.agility.challenge statFate=system.stats.agility.fate statPersona=system.stats.agility.persona statDeeds=system.stats.agility.deeds}}
        {{> "modules/bw-character-sheet/templates/partials/stat-block.html" statName="perception" displayName="Perception" statShade=system.stats.perception.shade statExponent=system.stats.perception.exponent statDifficult=system.stats.perception.difficult statChallenge=system.stats.perception.challenge statFate=system.stats.perception.fate statPersona=system.stats.perception.persona statDeeds=system.stats.perception.deeds}}
        {{> "modules/bw-character-sheet/templates/partials/stat-block.html" statName="forte" displayName="Forte" statShade=system.stats.forte.shade statExponent=system.stats.forte.exponent statDifficult=system.stats.forte.difficult statChallenge=system.stats.forte.challenge statFate=system.stats.forte.fate statPersona=system.stats.forte.persona statDeeds=system.stats.forte.deeds}}
        
        <div class="speed-block">
            {{> "modules/bw-character-sheet/templates/partials/stat-block.html" statName="speed" displayName="Speed" statShade=system.stats.speed.shade statExponent=system.stats.speed.exponent statDifficult=system.stats.speed.difficult statChallenge=system.stats.speed.challenge statFate=system.stats.speed.fate statPersona=system.stats.speed.persona statDeeds=system.stats.speed.deeds}}
            <div class="stride-inputs">
                <div class="stride-input">
                    <label>Stride</label>
                    <input type="number" name="system.stats.speed.stride" value="{{system.stats.speed.stride}}" data-dtype="Number"/>
                </div>
                <div class="stride-input">
                    <label>Mounted Stride</label>
                    <input type="number" name="system.stats.speed.mountedStride" value="{{system.stats.speed.mountedStride}}" data-dtype="Number"/>
                </div>
            </div>
        </div>


        {{> "modules/bw-character-sheet/templates/partials/custom-stat-block.html" statName="custom1" statNameValue=system.stats.custom1.name statShade=system.stats.custom1.shade statExponent=system.stats.custom1.exponent statDifficult=system.stats.custom1.difficult statChallenge=system.stats.custom1.challenge statFate=system.stats.custom1.fate statPersona=system.stats.custom1.persona statDeeds=system.stats.custom1.deeds}}
        {{> "modules/bw-character-sheet/templates/partials/custom-stat-block.html" statName="custom2" statNameValue=system.stats.custom2.name statShade=system.stats.custom2.shade statExponent=system.stats.custom2.exponent statDifficult=system.stats.custom2.difficult statChallenge=system.stats.custom2.challenge statFate=system.stats.custom2.fate statPersona=system.stats.custom2.persona statDeeds=system.stats.custom2.deeds}}
    </div>
</div>

<div class="attributes">
    <h3>Attributes</h3>
    <div class="attributes-grid">
        <div class="attribute">
            <div class="attribute-header">
            <label>Health</label>
                <div class="attribute-inputs">
                    <select name="system.attributes.health.shade" data-dtype="String">
                        <option value="B" {{#if (eq system.attributes.health.shade "B")}}selected{{/if}}>B</option>
                        <option value="G" {{#if (eq system.attributes.health.shade "G")}}selected{{/if}}>G</option>
                        <option value="W" {{#if (eq system.attributes.health.shade "W")}}selected{{/if}}>W</option>
                    </select>
                    <input type="number" name="system.attributes.health.exponent" value="{{system.attributes.health.exponent}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="attribute-checks">
                <div class="routine">
                    <label>Routine</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.health.routine.0" {{#if system.attributes.health.routine.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.health.routine.1" {{#if system.attributes.health.routine.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.health.routine.2" {{#if system.attributes.health.routine.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.health.routine.3" {{#if system.attributes.health.routine.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="difficult">
                    <label>Difficult</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.health.difficult.0" {{#if system.attributes.health.difficult.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.health.difficult.1" {{#if system.attributes.health.difficult.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.health.difficult.2" {{#if system.attributes.health.difficult.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.health.difficult.3" {{#if system.attributes.health.difficult.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="challenge">
                    <label>Challenge</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.health.challenge.0" {{#if system.attributes.health.challenge.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.health.challenge.1" {{#if system.attributes.health.challenge.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.health.challenge.2" {{#if system.attributes.health.challenge.[2]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="artha-inputs">
                    <div class="artha-input">
                        <label>Fate</label>
                        <input type="number" name="system.attributes.health.fate" value="{{system.attributes.health.fate}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                    <div class="artha-input">
                        <label>Persona</label>
                        <input type="number" name="system.attributes.health.persona" value="{{system.attributes.health.persona}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                    <div class="artha-input">
                        <label>Deeds</label>
                        <input type="number" name="system.attributes.health.deeds" value="{{system.attributes.health.deeds}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="attribute">
            <div class="attribute-header">
            <label>Steel</label>
                <div class="attribute-inputs">
                    <select name="system.attributes.steel.shade" data-dtype="String">
                        <option value="B" {{#if (eq system.attributes.steel.shade "B")}}selected{{/if}}>B</option>
                        <option value="G" {{#if (eq system.attributes.steel.shade "G")}}selected{{/if}}>G</option>
                        <option value="W" {{#if (eq system.attributes.steel.shade "W")}}selected{{/if}}>W</option>
                    </select>
                    <input type="number" name="system.attributes.steel.exponent" value="{{system.attributes.steel.exponent}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="attribute-checks">
                <div class="routine">
                    <label>Routine</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.steel.routine.0" {{#if system.attributes.steel.routine.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.steel.routine.1" {{#if system.attributes.steel.routine.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.steel.routine.2" {{#if system.attributes.steel.routine.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.steel.routine.3" {{#if system.attributes.steel.routine.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="difficult">
                    <label>Difficult</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.steel.difficult.0" {{#if system.attributes.steel.difficult.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.steel.difficult.1" {{#if system.attributes.steel.difficult.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.steel.difficult.2" {{#if system.attributes.steel.difficult.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.steel.difficult.3" {{#if system.attributes.steel.difficult.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="challenge">
                    <label>Challenge</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.steel.challenge.0" {{#if system.attributes.steel.challenge.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.steel.challenge.1" {{#if system.attributes.steel.challenge.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.steel.challenge.2" {{#if system.attributes.steel.challenge.[2]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="hesitation">
                    <label>Hesitation</label>
                    <div class="hesitation-value">{{subtract 10 system.attributes.steel.exponent}}</div>
                </div>
                <div class="artha-inputs">
                    <div class="artha-input">
                        <label>Fate</label>
                        <input type="number" name="system.attributes.steel.fate" value="{{system.attributes.steel.fate}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                    <div class="artha-input">
                        <label>Persona</label>
                        <input type="number" name="system.attributes.steel.persona" value="{{system.attributes.steel.persona}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                    <div class="artha-input">
                        <label>Deeds</label>
                        <input type="number" name="system.attributes.steel.deeds" value="{{system.attributes.steel.deeds}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="attribute">
            <div class="attribute-header">
                <label>Reflexes</label>
                <div class="attribute-inputs">
                    <select name="system.attributes.reflexes.shade" data-dtype="String">
                        <option value="B" {{#if (eq system.attributes.reflexes.shade "B")}}selected{{/if}}>B</option>
                        <option value="G" {{#if (eq system.attributes.reflexes.shade "G")}}selected{{/if}}>G</option>
                        <option value="W" {{#if (eq system.attributes.reflexes.shade "W")}}selected{{/if}}>W</option>
                    </select>
                    <div class="calculated-value">{{calculateReflexes system.stats.perception.exponent system.stats.agility.exponent system.stats.speed.exponent}}</div>
                </div>
            </div>
        </div>
        <div class="attribute">
            <div class="attribute-header">
                <label>Mortal Wounds</label>
                <div class="attribute-inputs">
                    <select name="system.attributes.mortalWounds.shade" data-dtype="String">
                        <option value="B" {{#if (eq system.attributes.mortalWounds.shade "B")}}selected{{/if}}>B</option>
                        <option value="G" {{#if (eq system.attributes.mortalWounds.shade "G")}}selected{{/if}}>G</option>
                        <option value="W" {{#if (eq system.attributes.mortalWounds.shade "W")}}selected{{/if}}>W</option>
                    </select>
                    <div class="calculated-value">{{calculateMortalWounds system.stats.power.exponent system.stats.forte.exponent}}</div>
                </div>
            </div>
        </div>
        <div class="attribute">
            <div class="attribute-header">
                <input type="text" name="system.attributes.custom1.name" value="{{system.attributes.custom1.name}}" />
                <div class="attribute-inputs">
                    <select name="system.attributes.custom1.shade" data-dtype="String">
                        <option value="B" {{#if (eq system.attributes.custom1.shade "B")}}selected{{/if}}>B</option>
                        <option value="G" {{#if (eq system.attributes.custom1.shade "G")}}selected{{/if}}>G</option>
                        <option value="W" {{#if (eq system.attributes.custom1.shade "W")}}selected{{/if}}>W</option>
                    </select>
                    <input type="number" name="system.attributes.custom1.exponent" value="{{system.attributes.custom1.exponent}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="attribute-checks">
                <div class="routine">
                    <label>Routine</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.custom1.routine.0" {{#if system.attributes.custom1.routine.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom1.routine.1" {{#if system.attributes.custom1.routine.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom1.routine.2" {{#if system.attributes.custom1.routine.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom1.routine.3" {{#if system.attributes.custom1.routine.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="difficult">
                    <label>Difficult</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.custom1.difficult.0" {{#if system.attributes.custom1.difficult.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom1.difficult.1" {{#if system.attributes.custom1.difficult.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom1.difficult.2" {{#if system.attributes.custom1.difficult.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom1.difficult.3" {{#if system.attributes.custom1.difficult.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="challenge">
                    <label>Challenge</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.custom1.challenge.0" {{#if system.attributes.custom1.challenge.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom1.challenge.1" {{#if system.attributes.custom1.challenge.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom1.challenge.2" {{#if system.attributes.custom1.challenge.[2]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="artha-inputs">
                    <div class="artha-input">
                        <label>Fate</label>
                        <input type="number" name="system.attributes.custom1.fate" value="{{system.attributes.custom1.fate}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                    <div class="artha-input">
                        <label>Persona</label>
                        <input type="number" name="system.attributes.custom1.persona" value="{{system.attributes.custom1.persona}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                    <div class="artha-input">
                        <label>Deeds</label>
                        <input type="number" name="system.attributes.custom1.deeds" value="{{system.attributes.custom1.deeds}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="attribute">
            <div class="attribute-header">
                <input type="text" name="system.attributes.custom2.name" value="{{system.attributes.custom2.name}}" placeholder=""/>
                <div class="attribute-inputs">
                    <select name="system.attributes.custom2.shade" data-dtype="String">
                        <option value="B" {{#if (eq system.attributes.custom2.shade "B")}}selected{{/if}}>B</option>
                        <option value="G" {{#if (eq system.attributes.custom2.shade "G")}}selected{{/if}}>G</option>
                        <option value="W" {{#if (eq system.attributes.custom2.shade "W")}}selected{{/if}}>W</option>
                    </select>
                    <input type="number" name="system.attributes.custom2.exponent" value="{{system.attributes.custom2.exponent}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="attribute-checks">
                <div class="routine">
                    <label>Routine</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.custom2.routine.0" {{#if system.attributes.custom2.routine.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom2.routine.1" {{#if system.attributes.custom2.routine.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom2.routine.2" {{#if system.attributes.custom2.routine.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom2.routine.3" {{#if system.attributes.custom2.routine.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="difficult">
                    <label>Difficult</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.custom2.difficult.0" {{#if system.attributes.custom2.difficult.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom2.difficult.1" {{#if system.attributes.custom2.difficult.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom2.difficult.2" {{#if system.attributes.custom2.difficult.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom2.difficult.3" {{#if system.attributes.custom2.difficult.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="challenge">
                    <label>Challenge</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.custom2.challenge.0" {{#if system.attributes.custom2.challenge.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom2.challenge.1" {{#if system.attributes.custom2.challenge.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.custom2.challenge.2" {{#if system.attributes.custom2.challenge.[2]}}checked{{/if}}/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="attributes-grid">
        <div class="attribute">
            <div class="attribute-header">
            <label>Circles</label>
                <div class="attribute-inputs">
                    <select name="system.attributes.circles.shade" data-dtype="String">
                        <option value="B" {{#if (eq system.attributes.circles.shade "B")}}selected{{/if}}>B</option>
                        <option value="G" {{#if (eq system.attributes.circles.shade "G")}}selected{{/if}}>G</option>
                        <option value="W" {{#if (eq system.attributes.circles.shade "W")}}selected{{/if}}>W</option>
                    </select>
                    <input type="number" name="system.attributes.circles.exponent" value="{{system.attributes.circles.exponent}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="attribute-checks">
                <div class="routine">
                    <label>Routine</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.circles.routine.0" {{#if system.attributes.circles.routine.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.circles.routine.1" {{#if system.attributes.circles.routine.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.circles.routine.2" {{#if system.attributes.circles.routine.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.circles.routine.3" {{#if system.attributes.circles.routine.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="difficult">
                    <label>Difficult</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.circles.difficult.0" {{#if system.attributes.circles.difficult.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.circles.difficult.1" {{#if system.attributes.circles.difficult.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.circles.difficult.2" {{#if system.attributes.circles.difficult.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.circles.difficult.3" {{#if system.attributes.circles.difficult.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="challenge">
                    <label>Challenge</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.circles.challenge.0" {{#if system.attributes.circles.challenge.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.circles.challenge.1" {{#if system.attributes.circles.challenge.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.circles.challenge.2" {{#if system.attributes.circles.challenge.[2]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="artha-inputs">
                    <div class="artha-input">
                        <label>Fate</label>
                        <input type="number" name="system.attributes.circles.fate" value="{{system.attributes.circles.fate}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                    <div class="artha-input">
                        <label>Persona</label>
                        <input type="number" name="system.attributes.circles.persona" value="{{system.attributes.circles.persona}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                    <div class="artha-input">
                        <label>Deeds</label>
                        <input type="number" name="system.attributes.circles.deeds" value="{{system.attributes.circles.deeds}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="attribute" data-type="reputations">
            <div class="attribute-header">
                <label>Reputations and Affiliations</label>
            </div>
            <div class="attribute-content">
                <textarea name="system.attributes.reputations.text" rows="4">{{system.attributes.reputations.text}}</textarea>
            </div>
        </div>
    </div>
    <div class="attributes-grid">
        <div class="attribute">
            <div class="attribute-header">
                <label>Resources</label>
                <div class="attribute-inputs">
                    <select name="system.attributes.resources.shade" data-dtype="String">
                        <option value="B" {{#if (eq system.attributes.resources.shade "B")}}selected{{/if}}>B</option>
                        <option value="G" {{#if (eq system.attributes.resources.shade "G")}}selected{{/if}}>G</option>
                        <option value="W" {{#if (eq system.attributes.resources.shade "W")}}selected{{/if}}>W</option>
                    </select>
                    <input type="number" name="system.attributes.resources.exponent" value="{{system.attributes.resources.exponent}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="attribute-checks">
                <div class="tax-input">
                    <label>Tax</label>
                    <div class="circle-input">
                        <input type="number" name="system.attributes.resources.tax" value="{{system.attributes.resources.tax}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="routine">
                    <label>Routine</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.resources.routine.0" {{#if system.attributes.resources.routine.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.resources.routine.1" {{#if system.attributes.resources.routine.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.resources.routine.2" {{#if system.attributes.resources.routine.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.resources.routine.3" {{#if system.attributes.resources.routine.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="difficult">
                    <label>Difficult</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.resources.difficult.0" {{#if system.attributes.resources.difficult.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.resources.difficult.1" {{#if system.attributes.resources.difficult.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.resources.difficult.2" {{#if system.attributes.resources.difficult.[2]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.resources.difficult.3" {{#if system.attributes.resources.difficult.[3]}}checked{{/if}}/>
                    </div>
                </div>
                <div class="challenge">
                    <label>Challenge</label>
                    <div class="checkboxes">
                        <input type="checkbox" name="system.attributes.resources.challenge.0" {{#if system.attributes.resources.challenge.[0]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.resources.challenge.1" {{#if system.attributes.resources.challenge.[1]}}checked{{/if}}/>
                        <input type="checkbox" name="system.attributes.resources.challenge.2" {{#if system.attributes.resources.challenge.[2]}}checked{{/if}}/>
                    </div>
                </div>
            
                <div class="artha-inputs">
                    <div class="artha-input">
                        <label>Fate</label>
                        <input type="number" name="system.attributes.resources.fate" value="{{system.attributes.resources.fate}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                    <div class="artha-input">
                        <label>Persona</label>
                        <input type="number" name="system.attributes.resources.persona" value="{{system.attributes.resources.persona}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                    <div class="artha-input">
                        <label>Deeds</label>
                        <input type="number" name="system.attributes.resources.deeds" value="{{system.attributes.resources.deeds}}" min="0" max="99" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="attribute">
            <div class="attribute-header">
                <label>Cash</label>
            </div>
            <div class="attribute-content">
                <input type="text" name="system.attributes.resources.cash" value="{{system.attributes.resources.cash}}"/>
            </div>
        </div>
        <div class="attribute">
            <div class="attribute-header">
                <label>Funds/Property</label>
            </div>
            <div class="attribute-content">
                <input type="text" name="system.attributes.resources.funds" value="{{system.attributes.resources.funds}}"/>
            </div>
        </div>
        <div class="attribute">
            <div class="attribute-header">
                <label>Loans/Debt</label>
            </div>
            <div class="attribute-content">
                <input type="text" name="system.attributes.resources.loans" value="{{system.attributes.resources.loans}}"/>
            </div>
        </div>
    </div>
</div>

</div>