<div class="learning-content">
    <table>
        <tr>
            <td>Wi</td>
            <td>Pe</td>
            <td>Ag</td>
            <td>Sp</td>
            <td>Fo</td>
            <td>He</td>
            <td>Re</td>
            <td>Ste</td>
            <td>Res</td>
            <td>Cir</td>
        </tr>
        <tr>
            <td>{{system.stats.will.shade}}{{system.stats.will.exponent}}</td>
            <td>{{system.stats.perception.shade}}{{system.stats.perception.exponent}}</td>
            <td>{{system.stats.agility.shade}}{{system.stats.agility.exponent}}</td>
            <td>{{system.stats.speed.shade}}{{system.stats.speed.exponent}}</td>
            <td>{{system.stats.forte.shade}}{{system.stats.forte.exponent}}</td>
            <td>{{system.attributes.health.shade}}{{system.attributes.health.exponent}}</td>
            <td>{{system.attributes.steel.shade}}{{system.attributes.steel.exponent}}</td>
            <td>{{system.attributes.reflexes.shade}}{{system.attributes.reflexes.exponent}}</td>
            <td>{{system.attributes.resources.shade}}{{system.attributes.resources.exponent}}</td>
            <td>{{system.attributes.circles.shade}}{{system.attributes.circles.exponent}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Stride</td>
            <td>{{system.stats.speed.stride}}</td>
            <td></td>
            <td></td>
            <td>Hesitation</td>
            <td>{{subtract 10 system.stats.will.exponent}}</td>
        </tr>
        <tr>
            <td>Su</td>
            <td>Li</td>
            <td>Mi</td>
            <td>Se</td>
            <td>Tr</td>
            <td>Mo</td>
        </tr>
        <tr>
            <td>B3?</td>
            <td>B4?</td>
            <td>B6?</td>
            <td>B7?</td>
            <td>B8?</td>
            <td>B9?</td>
        </tr>
        <tr>
            <td></td>
            <td>Char</td>
            <td>{{system.traits.character.text}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Dt</td>
            <td>{{system.traits.die.text}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Call On</td>
            <td>{{system.traits.callOn.text}}</td>
        </tr>


    </table>

</div>