<form class="bw-character-sheet">
    {{> "modules/bw-character-sheet/templates/partials/header.html"}}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="summary">Summary</a>
        <a class="item" data-tab="main">BITs</a>
        <a class="item" data-tab="attributes">Stats & Attributes</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="learning">Learning</a>
        <a class="item" data-tab="relationships">Relationships</a>
        <a class="item" data-tab="pgts">Injury</a>
        <a class="item" data-tab="gear">Gear</a>
        <a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="notes">Notes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab summary" data-group="primary" data-tab="summary">
            {{> "modules/bw-character-sheet/templates/partials/summary-tab.html"}}
        </div>
        
        <div class="tab main" data-group="primary" data-tab="main">
            {{> "modules/bw-character-sheet/templates/partials/main-tab.html"}}
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{> "modules/bw-character-sheet/templates/partials/stats-attributes-tab.html"}}  
        </div>

        <div class="tab skills" data-group="primary" data-tab="skills">
            {{> "modules/bw-character-sheet/templates/partials/skills-tab.html"}}   
        </div>

        <div class="tab learning" data-group="primary" data-tab="learning">
           {{> "modules/bw-character-sheet/templates/partials/learning-tab.html"}}
        </div>

        <div class="tab relationships" data-group="primary" data-tab="relationships">
            {{> "modules/bw-character-sheet/templates/partials/relationships-tab.html"}}
        </div>

        <div class="tab pgts" data-group="primary" data-tab="pgts">
            {{> "modules/bw-character-sheet/templates/partials/pgts-tab.html"}}
        </div>

        <div class="tab gear" data-group="primary" data-tab="gear">
            {{> "modules/bw-character-sheet/templates/partials/gear-tab.html"}}
        </div>

        <div class="tab spells" data-group="primary" data-tab="spells">
            {{> "modules/bw-character-sheet/templates/partials/spells-tab.html"}}
        </div>

        <div class="tab notes" data-group="primary" data-tab="notes">
            {{> "modules/bw-character-sheet/templates/partials/notes-tab.html"}}
        </div>
    </section>
</form> 