<form class="bw-character-sheet">
    <header class="sheet-header">
        <div class="profile-img">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
            </h1>
            <div class="resources grid grid-2col">
                <div class="resource">
                    <label>Age</label>
                    <input type="number" name="system.age" value="{{system.age}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                    <label>Lifepaths</label>
                    <input type="text" name="system.lifepaths" value="{{system.lifepaths}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="arthas">
                <h3>Artha</h3>
                <div class="artha-grid">
                    <div class="artha">
                        <label>Fate</label>
                        <div class="circle-input">
                            <input type="number" name="system.artha.fate" value="{{system.artha.fate}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="artha">
                        <label>Persona</label>
                        <div class="circle-input">
                            <input type="number" name="system.artha.persona" value="{{system.artha.persona}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="artha">
                        <label>Deeds</label>
                        <div class="circle-input">
                            <input type="number" name="system.artha.deeds" value="{{system.artha.deeds}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="main">Main</a>
        <a class="item" data-tab="attributes">Stats & Attributes</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="relationships">Relationships</a>
    </nav>

    <section class="sheet-body">
        <div class="tab main" data-group="primary" data-tab="main">
            <div class="beliefs-instincts">
                <div class="beliefs">
                    <h3>Beliefs</h3>
                    <div class="beliefs-list">
                        {{#each system.beliefs as |belief key|}}
                        {{#if (lt key 4)}}
                        <div class="belief">
                            <textarea name="system.beliefs.{{key}}.text" rows="2">{{belief.text}}</textarea>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="instincts">
                    <h3>Instincts</h3>
                    <div class="instincts-list">
                        <div class="instinct">
                            <textarea name="system.instincts.text" rows="8">{{system.instincts.text}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="grid grid-2col">
                <div class="stats">
                    <h3>Stats</h3>
                    <div class="stat">
                        <div class="stat-header">
                            <label>Will</label>
                            <div class="stat-inputs">
                                <select name="system.stats.will.shade" data-dtype="String">
                                    <option value="B" {{#if (eq system.stats.will.shade "B")}}selected{{/if}}>B</option>
                                    <option value="G" {{#if (eq system.stats.will.shade "G")}}selected{{/if}}>G</option>
                                    <option value="W" {{#if (eq system.stats.will.shade "W")}}selected{{/if}}>W</option>
                                </select>
                                <input type="number" name="system.stats.will.exponent" value="{{system.stats.will.exponent}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="stat-checks">
                            <div class="difficult">
                                <label>Difficult</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.will.difficult.0" {{#if system.stats.will.difficult.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.will.difficult.1" {{#if system.stats.will.difficult.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.will.difficult.2" {{#if system.stats.will.difficult.[2]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.will.difficult.3" {{#if system.stats.will.difficult.[3]}}checked{{/if}}/>
                                </div>
                            </div>
                            <div class="challenge">
                                <label>Challenge</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.will.challenge.0" {{#if system.stats.will.challenge.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.will.challenge.1" {{#if system.stats.will.challenge.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.will.challenge.2" {{#if system.stats.will.challenge.[2]}}checked{{/if}}/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stat">
                        <div class="stat-header">
                            <label>Power</label>
                            <div class="stat-inputs">
                                <select name="system.stats.power.shade" data-dtype="String">
                                    <option value="B" {{#if (eq system.stats.power.shade "B")}}selected{{/if}}>B</option>
                                    <option value="G" {{#if (eq system.stats.power.shade "G")}}selected{{/if}}>G</option>
                                    <option value="W" {{#if (eq system.stats.power.shade "W")}}selected{{/if}}>W</option>
                                </select>
                                <input type="number" name="system.stats.power.exponent" value="{{system.stats.power.exponent}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="stat-checks">
                            <div class="difficult">
                                <label>Difficult</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.power.difficult.0" {{#if system.stats.power.difficult.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.power.difficult.1" {{#if system.stats.power.difficult.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.power.difficult.2" {{#if system.stats.power.difficult.[2]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.power.difficult.3" {{#if system.stats.power.difficult.[3]}}checked{{/if}}/>
                                </div>
                            </div>
                            <div class="challenge">
                                <label>Challenge</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.power.challenge.0" {{#if system.stats.power.challenge.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.power.challenge.1" {{#if system.stats.power.challenge.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.power.challenge.2" {{#if system.stats.power.challenge.[2]}}checked{{/if}}/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stat">
                        <div class="stat-header">
                            <label>Agility</label>
                            <div class="stat-inputs">
                                <select name="system.stats.agility.shade" data-dtype="String">
                                    <option value="B" {{#if (eq system.stats.agility.shade "B")}}selected{{/if}}>B</option>
                                    <option value="G" {{#if (eq system.stats.agility.shade "G")}}selected{{/if}}>G</option>
                                    <option value="W" {{#if (eq system.stats.agility.shade "W")}}selected{{/if}}>W</option>
                                </select>
                                <input type="number" name="system.stats.agility.exponent" value="{{system.stats.agility.exponent}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="stat-checks">
                            <div class="difficult">
                                <label>Difficult</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.agility.difficult.0" {{#if system.stats.agility.difficult.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.agility.difficult.1" {{#if system.stats.agility.difficult.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.agility.difficult.2" {{#if system.stats.agility.difficult.[2]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.agility.difficult.3" {{#if system.stats.agility.difficult.[3]}}checked{{/if}}/>
                                </div>
                            </div>
                            <div class="challenge">
                                <label>Challenge</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.agility.challenge.0" {{#if system.stats.agility.challenge.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.agility.challenge.1" {{#if system.stats.agility.challenge.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.agility.challenge.2" {{#if system.stats.agility.challenge.[2]}}checked{{/if}}/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stat">
                        <div class="stat-header">
                            <label>Perception</label>
                            <div class="stat-inputs">
                                <select name="system.stats.perception.shade" data-dtype="String">
                                    <option value="B" {{#if (eq system.stats.perception.shade "B")}}selected{{/if}}>B</option>
                                    <option value="G" {{#if (eq system.stats.perception.shade "G")}}selected{{/if}}>G</option>
                                    <option value="W" {{#if (eq system.stats.perception.shade "W")}}selected{{/if}}>W</option>
                                </select>
                                <input type="number" name="system.stats.perception.exponent" value="{{system.stats.perception.exponent}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="stat-checks">
                            <div class="difficult">
                                <label>Difficult</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.perception.difficult.0" {{#if system.stats.perception.difficult.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.perception.difficult.1" {{#if system.stats.perception.difficult.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.perception.difficult.2" {{#if system.stats.perception.difficult.[2]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.perception.difficult.3" {{#if system.stats.perception.difficult.[3]}}checked{{/if}}/>
                                </div>
                            </div>
                            <div class="challenge">
                                <label>Challenge</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.perception.challenge.0" {{#if system.stats.perception.challenge.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.perception.challenge.1" {{#if system.stats.perception.challenge.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.perception.challenge.2" {{#if system.stats.perception.challenge.[2]}}checked{{/if}}/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stat">
                        <div class="stat-header">
                            <label>Forte</label>
                            <div class="stat-inputs">
                                <select name="system.stats.forte.shade" data-dtype="String">
                                    <option value="B" {{#if (eq system.stats.forte.shade "B")}}selected{{/if}}>B</option>
                                    <option value="G" {{#if (eq system.stats.forte.shade "G")}}selected{{/if}}>G</option>
                                    <option value="W" {{#if (eq system.stats.forte.shade "W")}}selected{{/if}}>W</option>
                                </select>
                                <input type="number" name="system.stats.forte.exponent" value="{{system.stats.forte.exponent}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="stat-checks">
                            <div class="difficult">
                                <label>Difficult</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.forte.difficult.0" {{#if system.stats.forte.difficult.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.forte.difficult.1" {{#if system.stats.forte.difficult.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.forte.difficult.2" {{#if system.stats.forte.difficult.[2]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.forte.difficult.3" {{#if system.stats.forte.difficult.[3]}}checked{{/if}}/>
                                </div>
                            </div>
                            <div class="challenge">
                                <label>Challenge</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.forte.challenge.0" {{#if system.stats.forte.challenge.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.forte.challenge.1" {{#if system.stats.forte.challenge.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.forte.challenge.2" {{#if system.stats.forte.challenge.[2]}}checked{{/if}}/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stat">
                        <div class="stat-header">
                            <label>Speed</label>
                            <div class="stat-inputs">
                                <select name="system.stats.speed.shade" data-dtype="String">
                                    <option value="B" {{#if (eq system.stats.speed.shade "B")}}selected{{/if}}>B</option>
                                    <option value="G" {{#if (eq system.stats.speed.shade "G")}}selected{{/if}}>G</option>
                                    <option value="W" {{#if (eq system.stats.speed.shade "W")}}selected{{/if}}>W</option>
                                </select>
                                <input type="number" name="system.stats.speed.exponent" value="{{system.stats.speed.exponent}}" data-dtype="Number"/>
                            </div>
                        </div>
                       
                        <div class="stat-checks">
                            <div class="difficult">
                                <label>Difficult</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.speed.difficult.0" {{#if system.stats.speed.difficult.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.speed.difficult.1" {{#if system.stats.speed.difficult.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.speed.difficult.2" {{#if system.stats.speed.difficult.[2]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.speed.difficult.3" {{#if system.stats.speed.difficult.[3]}}checked{{/if}}/>
                                </div>
                            </div>
                            <div class="challenge">
                                <label>Challenge</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.stats.speed.challenge.0" {{#if system.stats.speed.challenge.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.speed.challenge.1" {{#if system.stats.speed.challenge.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.stats.speed.challenge.2" {{#if system.stats.speed.challenge.[2]}}checked{{/if}}/>
                                </div>
                            </div>

                            <div class="stride-inputs">
                                <div class="stride">
                                    <label>Stride</label>
                                    <input type="number" name="system.stats.speed.stride" value="{{system.stats.speed.stride}}" data-dtype="Number"/>
                                </div>
                                <div class="stride">
                                    <label>Mounted</label>
                                    <input type="number" name="system.stats.speed.mounted" value="{{system.stats.speed.mounted}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="attributes">
                    <h3>Attributes</h3>
                    <div class="attribute">
                        <label>Health</label>
                        <input type="number" name="system.attributes.health" value="{{system.attributes.health}}" data-dtype="Number"/>
                    </div>
                    <div class="attribute">
                        <label>Steel</label>
                        <input type="number" name="system.attributes.steel" value="{{system.attributes.steel}}" data-dtype="Number"/>
                    </div>
                    <div class="attribute">
                        <label>Resources</label>
                        <input type="number" name="system.attributes.resources" value="{{system.attributes.resources}}" data-dtype="Number"/>
                    </div>
                    <div class="attribute">
                        <label>Circles</label>
                        <input type="number" name="system.attributes.circles" value="{{system.attributes.circles}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="skills-grid">
                <div class="skills-column">
                    {{#each system.skills as |skill key|}}
                    {{#if (lt key 20)}}
                    <div class="skill">
                        <div class="skill-header">
                            <input type="text" name="system.skills.{{key}}.name" value="{{skill.name}}"/>
                            <div class="skill-inputs">
                                <select name="system.skills.{{key}}.shade" data-dtype="String">
                                    <option value="B" {{#if (eq skill.shade "B")}}selected{{/if}}>B</option>
                                    <option value="G" {{#if (eq skill.shade "G")}}selected{{/if}}>G</option>
                                    <option value="W" {{#if (eq skill.shade "W")}}selected{{/if}}>W</option>
                                </select>
                                <input type="number" name="system.skills.{{key}}.exponent" value="{{skill.exponent}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="skill-checks">
                            <div class="routine">
                                <label>Routine</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.skills.{{key}}.routine.0" {{#if skill.routine.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.routine.1" {{#if skill.routine.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.routine.2" {{#if skill.routine.[2]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.routine.3" {{#if skill.routine.[3]}}checked{{/if}}/>
                                </div>
                            </div>
                            <div class="difficult">
                                <label>Difficult</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.skills.{{key}}.difficult.0" {{#if skill.difficult.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.difficult.1" {{#if skill.difficult.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.difficult.2" {{#if skill.difficult.[2]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.difficult.3" {{#if skill.difficult.[3]}}checked{{/if}}/>
                                </div>
                            </div>
                            <div class="challenge">
                                <label>Challenge</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.skills.{{key}}.challenge.0" {{#if skill.challenge.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.challenge.1" {{#if skill.challenge.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.challenge.2" {{#if skill.challenge.[2]}}checked{{/if}}/>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="skills-column">
                    {{#each system.skills as |skill key|}}
                    {{#if (gte key 20)}}
                    <div class="skill">
                        <div class="skill-header">
                            <input type="text" name="system.skills.{{key}}.name" value="{{skill.name}}"/>
                            <div class="skill-inputs">
                                <select name="system.skills.{{key}}.shade" data-dtype="String">
                                    <option value="B" {{#if (eq skill.shade "B")}}selected{{/if}}>B</option>
                                    <option value="G" {{#if (eq skill.shade "G")}}selected{{/if}}>G</option>
                                    <option value="W" {{#if (eq skill.shade "W")}}selected{{/if}}>W</option>
                                </select>
                                <input type="number" name="system.skills.{{key}}.exponent" value="{{skill.exponent}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="skill-checks">
                            <div class="routine">
                                <label>Routine</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.skills.{{key}}.routine.0" {{#if skill.routine.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.routine.1" {{#if skill.routine.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.routine.2" {{#if skill.routine.[2]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.routine.3" {{#if skill.routine.[3]}}checked{{/if}}/>
                                </div>
                            </div>
                            <div class="difficult">
                                <label>Difficult</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.skills.{{key}}.difficult.0" {{#if skill.difficult.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.difficult.1" {{#if skill.difficult.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.difficult.2" {{#if skill.difficult.[2]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.difficult.3" {{#if skill.difficult.[3]}}checked{{/if}}/>
                                </div>
                            </div>
                            <div class="challenge">
                                <label>Challenge</label>
                                <div class="checkboxes">
                                    <input type="checkbox" name="system.skills.{{key}}.challenge.0" {{#if skill.challenge.[0]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.challenge.1" {{#if skill.challenge.[1]}}checked{{/if}}/>
                                    <input type="checkbox" name="system.skills.{{key}}.challenge.2" {{#if skill.challenge.[2]}}checked{{/if}}/>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="tab relationships" data-group="primary" data-tab="relationships">
            <div class="relationships-list">
                <h3>Relationships</h3>
                {{#each system.relationships as |relationship key|}}
                <div class="relationship">
                    <label>{{relationship.name}}</label>
                    <input type="text" name="system.relationships.{{key}}.description" value="{{relationship.description}}"/>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</form> 